*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
li{list-style: none;}
body{}
.flex{
    display: flex;
    flex-wrap: wrap;
}
header{}
.upper{
    background: black;
}
.down{
    background: #f1eeee8f;
    padding: 5px;
}
.container{
    margin: auto;
    width: 1200px;
}
.discount-adv{
    text-align: center;
    width: 100%;
    background: black;
}
.discount-adv h4{
    color: #fff;
    position: relative;
}
.discount-adv h4 span{
    font-size: 28px;
}
.discount-adv a{
    text-decoration: none;
    padding: 0px 4px;
    font-size: 10px;
    color: green;
    margin: 0;
    position: absolute;
    bottom: 17%;
}
.discount-adv a:hover{}




.nav{}
.nav ul{justify-content: space-evenly;}
.nav ul li{
}
.nav ul li a{
    text-decoration: none;
    color: #000000bf;
    text-transform: capitalize;
    display: block;
}
.nav ul li a:hover{}



.business{
    text-align: center;
    padding: 35px 0px;
}
.business h2{
    font-weight: bolder;
}
.business p{
    color: #555151;
}


.content{}
.menu{
    flex-basis: 22%;
    max-width: 22%;
}
.content ul{
    display: block;
}
.content ul li{
    padding: 5px;
}
.content ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #000000bf;
}

.gallary{
    flex-basis: 78%;
    max-width: 78%;
    }
.img-sec{
    max-width: 33.33%;
    flex-basis: 33.33%;
    width: 33.33%;
    height: 310px;
    padding: 6px;
    }
.img-sec a{
    text-decoration: none;
    color: #000000bf;
    text-transform: capitalize;
}
.img-sec a img{
    height: 260px;
    display: block;
    width: 100%;
    border-radius: 4px;
}
.img-sec a img:hover{}

footer{
    background: #f0f0f0d6;
    padding: 10px 0px;
}
.part{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 40px;
    color: #000000cf;
    text-align: center;
    }
.part h1{}
.part p{
}
.part span{
    font-size: 19px;
    font-weight: bolder;
}